<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Matricula</th>
            <th scope="col">Nome</th>
            <th scope="col">Cpf</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>0001</td>
            <td>Tiago</td>
            <td>123.121.489-22</td>

        </tr>
        <tr>
            <th scope="row">2</th>
            <td>0002</td>
            <td>Jean</td>
            <td>123.121.489-22</td>

        </tr>

    </tbody>
</table>