@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jean Frangos para Macumba</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="d-grid gap-2 d-md-block">
    <button class="btn btn-primary" type="button">Quantidade</button>
</div>


